<div ng-include="'/static/app/page_components/header.html'"></div>

<div class="container">
    <div class="page-header">
        <h1><span class="v-hack">V</span>endor Slots</h1>

    <div class="icons">
        <div class="shed_a"></div><!-- end .shed_a -->
        <div class="shed_b"></div><!-- end .shed_b -->
        <div class="shed_c_active"></div><!-- end .currentshed -->
        <div class="shed_d"></div><!-- end .shed_d -->
        <div class="shed_e"></div><!-- end .shed_e -->
        <div class="shed_f"></div><!-- end .shed_f -->
    </div><!-- end .icons-->
    </div><!-- .page-header --> 

    <div class="map">
        <div class="top group">
            <div class="slots right">
                <div class="slot"
                    ng-repeat="slot in slots_right_top"
                    ng-class=" { leased: slot.assignment, occupied: slot.assignment.is_checked_in }"
                    edit-slot="slot" vendors="vendors" vendor-names="vendor_names">
                </div>  
            </div> <!-- end .top-right -->

            <div class="slots left">
                <div class="slot"
                    ng-repeat="slot in slots_left_top"
                    ng-class=" { leased: slot.assignment, occupied: slot.assignment.is_checked_in }"
                    edit-slot="slot" vendors="vendors" vendor-names="vendor_names">
                </div>
            </div><!-- end .top-left -->

           
        </div><!-- end .top -->

        <div class="walkway"> SHED C </div> <!-- end .walkway -->

        <div class="bottom group">
            <div class="slots right">
                <div class="slot"
                    ng-repeat="slot in slots_right_bottom"
                    ng-class=" { leased: slot.assignment, occupied: slot.assignment.is_checked_in }"
                    edit-slot="slot" vendors="vendors" vendor-names="vendor_names">
                </div>  
            </div> <!-- end .bottom-right -->

            <div class="slots left">
                <div class="slot"
                    ng-repeat="slot in slots_left_bottom"
                    ng-class=" { leased: slot.assignment, occupied: slot.assignment.is_checked_in }"
                    edit-slot="slot" vendors="vendors" vendor-names="vendor_names">
                </div>  
            </div> <!-- end .bottom-left -->

        </div><!-- end .bottom -->
    </div><!--end of .map-->

    <div class="slot_availability">
        <span class="summary available">Available Slots /</span> 
        <span class="summary leased">Leased Slots /</span> 
        <span class="summary occupied">Occupied Slots</span> 
    </div><!-- end .slot_availability -->
</div><!-- end of .container -->

Current market day: {{ market_day.date | date:'MMMM d' }}

<div ng-include="'/static/app/page_components/footer.html'"></div>
