<div ng-include="'/static/app/page_components/header.html'"></div>

<div class="container">
    <div class="page-header">
        <h1>Vendor Slots</h1>

    <div class="icons">
        <div class="shed_a"></div><!-- end .shed_a -->
        <div class="shed_b"></div><!-- end .shed_b -->
        <div class="shed_c_active"></div><!-- end .currentshed -->
        <div class="shed_d"></div><!-- end .shed_d -->
        <div class="shed_e"></div><!-- end .shed_e -->
        <div class="shed_f"></div><!-- end .shed_f -->
    </div><!-- end .icons-->
    </div><!-- .page-header --> 

    <div class="map">
        <div id="shed_c" class="shed slotting_c">C</div>
        <div class="slots top left">
        	<div ng-repeat="slot in slots_left_top"> {{ slot.stall_number }} </div>  
        </div><!-- end .top-left -->
        <div class="slots top right">
        	<div ng-repeat="slot in slots_right_top"> {{ slot.stall_number }} </div>  
        </div> <!-- end .top-right -->
        <div class="slots bottom left">
        	<div ng-repeat="slot in slots_left_bottom" ng-class=" { leased: slot.assignment }"> 
        		{{ slot.stall_number }} {{ slot.assignment.vendor.name }} </div>  
        </div> <!-- end .bottom-left -->
        <div class="slots bottom right">
        	<div ng-repeat="slot in slots_right_bottom"> {{ slot.stall_number }} </div>  
        </div> <!-- end .bottom-right -->
    </div><!--end of .map-->

    <div class="slot_availability">
		<span class="summary available">Available Slots /</span> 
		<span class="summary leased">Leased Slots /</span> 
		<span class="summary occupied">Occupied Slots</span> 
    </div><!-- end .slot_availability -->
</div><!-- end of .container -->

Current market day: {{ market_day.date | date:'MMMM d' }}

<a ng-click="run_test()">try it</a>

<div ng-include="'/static/app/page_components/footer.html'"></div>
